@import "tailwindcss";

@theme {
    --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.rtl {
    direction: rtl;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 3s ease-in-out forwards;
}

@layer base {
    button {
        @apply cursor-pointer;
    }
    html {
        scroll-behavior: smooth;
    }
}

body {
    font-family: "Vazirmatn", sans-serif;
    background-color: #F9FAFB;
}