@import "tailwindcss";

@theme {
    --font-sans: 'Vazirmatn', sans-serif;
}

.rtl {
    direction: rtl;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 3s ease-in-out forwards;
}

@layer base {
    button {
        @apply cursor-pointer;
    }
    html {
        scroll-behavior: smooth;
    }
}